{% extends 's_APP/base.html' %}

{% block content %}
<h2>{{ store.name }}</h2>
<img src="{{ store.image.url }}" alt="{{ store.name }}">
<p>{{ store.description }}</p>
<a href="{% url 'edit_store' store.pk %}" class="btn">Edit</a>
<form action="{% url 'delete_store' store.pk %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn">Delete</button>
</form>
<h3>Products</h3>
<ul>
    {% for product in products %}
        <li>{{ product.name }}</li>
    {% endfor %}
</ul>
{% endblock %}
